[Unit]
Description=Run the payment updater
Wants=payment-updater.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/payment-updater.sh

[Install]
WantedBy=multi-user.target
